# create database wxcomponent if not exists;
# grant all privileges on wxcomponent.* to 'Username'@'%' identified by 'YourPassword';

export MYSQL_ADDRESS=127.0.0.1
export MYSQL_PASSWORD=YourPassword
export MYSQL_USERNAME=Username
export WX_APPID=wxxxxxxxxxxx

# uncomment the following line for production
# export GIN_MODE=release


